:root {
  /* Farver */
  --blue700: #0000ee;
  /* Grå */
  --grey50: #fefefe;
  --grey950: #292929;

  /* Typografi */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 2000px;
  min-height: 100vh;
  margin: auto;
}

/* Typografi */
h1 {
  font-size: 40px;
  color: var(--grey950);
  font-family: "niveau grotesk", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: var(--bold);
  color: var(--grey950);
  font-family: "niveau grotesk", sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: var(--medium);
  color: var(--grey950);
  font-family: "niveau grotesk", sans-serif;
}

h4 {
  font-size: 18px;
  font-weight: var(--bold);
  color: var(--grey950);
  font-family: "niveau grotesk", sans-serif;
}

a {
  text-decoration: none;
  color: var(--grey950);
  font-family: Lato;
}

p {
  font-family: Lato;
}

ul {
  list-style: none;
}

@media (min-width: 900px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
}
