---
import OmSektion from "../components/OmSektion.astro";
import Maps from "../components/Maps.astro";
import H2Citat from "../components/H2citat.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2 id="omos" >SZOBA STORE </h2>
  <div class="container">
    <div class="tekst1" >
    <OmSektion overskrift="Velkommen" brødtekst="Velkommen til Szôba Store, hvor vintage er mere end bare tøj det er en passion og en livsstil. Vi er stolte af at tilbyde en nøje udvalgt kollektion af håndplukket tøj, udvalgt fra dødsboer, samlinger og vores egne eventyr gennem Europa, herunder Østeuropa."/></div>
    <img src="../img/butik.webp" alt="butik"> </div>
  <div class="container1"><OmSektion overskrift="Olivias historie" brødtekst="Vores grundlægger, Olivia Lynglund, har altid haft en passion for vintage, og hendes drøm om at åbne Vivis Szôba er blevet til virkelighed takket være en unik mulighed og en stærk følelse af fællesskab. Vi er en del af en socialøkonomisk gade, hvor fællesskab og bæredygtighed er i centrum af alt, hvad vi gør." img="../img/olivia.webp"/> </div>
<div class="container1"><OmSektion overskrift="Mere end tøj" brødtekst="I vores butik kan du ikke kun finde enestående vintage tøjstykker, men også værker fra opkommende kunstnere og designere. Vi tror på at skabe et rum, hvor talent og kreativitet kan blomstre, og vi inviterer gerne flere samarbejdspartnere ind i vores butik, især dem med ekspertise inden for kunst, keramik, smykker eller strik. Vi ser frem til at byde dig velkommen til Szôba!" /></div>
<Maps/>

</Layout>

<style>
img{
  width: 100%;
  height: 100%;
}
.container, .container1, h2{
  display: grid;
  gap: 1rem;
    margin: 2rem;
}

.container1{
    display: grid;
  gap: 2rem;
    margin: 4rem 2rem 2rem 2rem;

}

h2{
padding-bottom: 1.3rem;
}
  @media (min-width: 900px) {


    .container1{
margin: 0 20rem 5rem 20rem;
    }
    .container{
  display: grid;
grid-template-columns: 1fr 1fr;
gap: 6rem;
padding: 3rem 6rem 6rem 6rem;
  justify-content: space-between;
}

.tekst1{
  align-items: center;
  place-content: center;
line-break: auto;
}
h2{
 display: grid;
margin: 4rem 0 0  7.5rem;
 
}
  }

</style>