---
import Layout from "../layouts/Layout.astro";
import H2Citat from "../components/H2citat.astro";
import Hero from "../components/Hero.astro";
import ShopTeaser from "../components/ShopTeaser.astro";
import IndexTeaser from "../components/IndexTeaser.astro";
---

<Layout>
  <Hero />

  <ShopTeaser />
  <IndexTeaser />

  <H2Citat indhold="LÆS MERE OM SZÔBA HER, VORES HISTORIE OG VÆRDIER" />
  <a href="../about">
    <div class="svg">
      <svg xmlns="http://www.w3.org/2000/svg" width="85" height="45" viewBox="0 0 85 45" fill="none">
        <path d="M4.28674 18.6035C24.6325 18.6035 45.118 19.3328 65.4325 18.2239C66.0623 18.1896 78.2832 18.1753 78.2832 17.4225C78.2832 16.1455 73.2236 12.7046 72.3198 11.9393C69.2325 9.32486 59.2054 2.71419 62.9548 4.2205C67.9426 6.22433 74.1579 9.82054 77.9473 13.6264C80.3682 16.0579 81.9997 16.8956 80.299 20.122C78.3511 23.8174 76.592 27.6572 74.5876 31.3416C73.3127 33.6852 71.8765 35.9167 70.2201 38.0059C69.6549 38.7188 68.5402 41.0683 68.5402 40.157C68.5402 34.6604 70.5339 31.3705 73.0758 26.5332C73.8644 25.0324 75.8839 18.8749 76.8554 19.3628" stroke="black" stroke-width="8" stroke-linecap="round"></path>
        <path d="M74.7577 16.5378C70.4009 16.5378 66.1194 16.5809 61.795 17.1499C59.8886 17.4008 57.8284 17.762 55.9325 17.762C53.3433 17.762 50.7945 18.2517 48.1929 18.2517C44.7162 18.2517 41.2647 18.0069 37.7874 18.0069C34.6194 18.0069 31.4689 17.9288 28.3204 18.2517C24.8872 18.6038 21.2125 18.7294 17.7652 18.4421C14.2111 18.1459 10.6425 17.762 7.07406 17.762C5.97156 17.762 5.05954 18.0069 4 18.0069" stroke="black" stroke-width="8" stroke-linecap="round"></path>
      </svg>
    </div></a
  >
</Layout>

<style>
  .svg {
    padding: 0 0 5rem 0;

    text-align: center;

    vertical-align: middle;
  }
</style>
