---
const { indhold } = Astro.props;
---

<section>
    <h2>{indhold}</h2>
</section>

<style>

    section{
        display: grid;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem 4rem 2rem;
}

</style>