---
import Button from "../components/Button.astro";
import Nav from "../components/Nav.astro";
---

 <div class="container">
  <img src="../img/herotest.png" alt="heroplaceholder" style="width:100%;" >

  <div class="centered">
    <h1>SZOBA STORE</h1>
    <Button variant="lys" size="stor" >Shop</Button>
  </div>
</div> 
<style>


/* Container */
.container {
  position: relative;
  text-align: center;



}



/* Centreret tekst */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
    color: var(--grey50);
}

</style>