---
import TeaserCard from "./TeaserCard.astro"
---

<section>
    <TeaserCard img="../img/events.webp" tekst="Events"></TeaserCard>
    <TeaserCard img="../img/keramik.webp" tekst="Kunst"></TeaserCard>
</section>

<style>

  


</style>