---
import TeaserCard from "./TeaserCard.astro"
---

<section>
<TeaserCard link="../events/#events" img="../img/events.webp" tekst="Events"></TeaserCard> 
    <TeaserCard link="../events/#kunst" img="../img/keramik.webp" tekst="Kunst"></TeaserCard>
</section>

<style>

 section{
    display: grid;

    margin: 2rem 2rem 0 2rem;
 }

      @media (min-width: 900px) {

  section{
    display: grid;
    grid-template-columns: 1fr 1fr;
   gap: 4rem;
    margin: 4rem 4rem 4rem 4rem;
  }}


</style>