---
import InstaCard from "../components/InstaCard.astro"
---

<section>
    <h2>
        SE MERE AF VORES UDVALG PÅ INSTAGRAM
    </h2>
    <div class="insta_container">
    <InstaCard/>
    <InstaCard/>
    <InstaCard/>
    </div>
</section>

<style>
    .insta_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }



</style>