---
import InstaCard from "../components/InstaCard.astro";
---

<section>
  <h3>SE MERE AF VORES UDVALG PÅ INSTAGRAM</h3>
  <div class="insta_container">
    <InstaCard img="img/insta1.webp" />
    <InstaCard img="img/insta2.webp" />
    <InstaCard img="img/insta3.webp" />
  </div>
</section>

<style>
  .insta_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 0.5rem 2rem 2rem 2rem;
    gap: 1rem;
  }

  h3 {
    margin: 2rem 2rem 0 2rem;
  }

  @media (min-width: 900px) {
    section {
      margin-top: 7rem;
    }
    h3 {
      margin: 2rem 5rem 0.8rem 5rem;
    }
    .insta_container {
      padding: 0 5rem 5rem 5rem;
      gap: 1rem;
    }
  }
</style>
