---
import Instagram from "../components/svg/Instagram.astro";
---

<section>
    <img src="img/instaph.jpg" alt="placeholder">
      <div class="centered">
<Instagram /></div>
</section>


<style>

  
  img:hover{
        opacity: 50%;
    }
section{
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


    </style>