---
import InstaCard from "../components/InstaCard.astro"
---

<section>
    <h3>
        SE MERE AF VORES UDVALG PÅ INSTAGRAM
    </h3>
    <div class="insta_container">
    <InstaCard/>
    <InstaCard/>
    <InstaCard/>
    </div>
</section>

<style>
    .insta_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
   
    padding: 1rem 5rem 5rem 5rem;
 gap: 1rem;
    }

    h3{
        
    }



</style>