---
import Instagram from "./svg/Instagram.astro"
---

<section id="kunst" >
    <h3>MÅNEDENS KUNSTNER</h3>
<img src="#" alt="#">
<h4>Olivia Rode Hvass</h4>
<p>Olivia Rode Hvass (hun/hende, de/dem) er en kunstner baseret i København. Hun er uddannet med en BA fra Jylland Kunstakademi i 2021 og en mesterklasse med et stort stipendium i TC2-vævning med professor Corrie van Eijk-Doktor, Drachten NL. Rode Hvass arbejder på tværs af skulpturelle områder mellem tegning, tekstil, skulpturelt og installatorisk arbejde.

Hendes arbejde udfolder sig ud af en interesse for mennesker, eventyr og kulturdannelse i relation til myter, følelser og udtryk i det samfund, hun er vokset op med og opdraget af. Rode Hvass’ arbejde har en subtil underliggende humor, som inviterer beskueren indenfor.
Rode Hvass har tidligere udstillet på forskellige danske platforme og institutioner såsom Kunsthal Aarhus, Kunsthal 6100, Kunsthal NORD, Skovgaard Museet (DK) og Tranen (DK).</p>
<div class="container_info">
<Instagram/>
<p>@luxuxmusklen</p>
</div>
</section>

<style>
.container_info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
</style>