---
import Logo from "../components/svg/Logo.astro";
import Kurv from "../components/svg/Kurv.astro";
---
<nav>
  <a href="../"><Logo /></a>
  <ul class="nav_menu">
    <li><a href="../shop">Shop</a></li>
    <li><a href="../events">Events og Kunst</a></li>
    <li><a href="../about">Om os</a></li>
  </ul>
    <div class="nav_icons">
    <a class="kurv" href="#"><Kurv /></a>
  </div>

  <div class="burger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>
<script src="../scripts/burger.js"></script>

<style>
  .nav_menu a:hover {
    color: var(--blue700);
    text-decoration: underline;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    z-index: 1;
   

  }
  li a {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
  }


  .burger {
    display: none;
  }
  .nav_menu {
    display: flex;
  }



  /*BURGER*/
  @media (max-width: 900px) {
    .burger {
      display: block;
      cursor: pointer;
    }
    .bar {
      display: block;
      height: 3px;
      width: 30px;
      margin: 5px;
      background-color: black;
      border-radius: 1px;
    }

    .burger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .burger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu {
      display: flex;
      position: fixed;
      flex-direction: column;
      background-color: white;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: 0.3s;
      top: 0;
      left: 100%;
      padding-top: 5rem;
      gap: 2rem;
    }
    .nav_menu.active {
      top: 0;
      left: 0;
    }

    .nav_icons {
      display: none;
    }
  }
</style>
