---
const { overskrift, brødtekst,img } = Astro.props;
---

<section>
    <h4>
        {overskrift}
    </h4>
    <p>{brødtekst}</p>
    <div class="imgtop" >
    <img src={img} alt=""></div>
</section>

<style>

p{
      line-height: 180%;
}
.imgtop{
    display: grid;
    margin-top: 2rem;
}
section{
    display: grid;
    gap: 0.5rem;
}

  @media (min-width: 900px) {

    section{
        display: grid;
        gap: 2rem;
    }

   
  }
</style>