---
import ShopCard from "../components/ShopCard.astro";
import Button from "./Button.astro";
import InstaTeaser from "./InstaTeaser.astro";




const shop = await fetch(
  "https://fyvvuefyxnoyynrjyhuk.supabase.co/rest/v1/shop",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5dnZ1ZWZ5eG5veXlucmp5aHVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5NTkxOTksImV4cCI6MjAzMTUzNTE5OX0.72K41vRnBsdHG8-yrn2BZLz5WLf88lxk8CPRLKEEYMk",
    },
  }
).then((response) => {
  return response.json();
});

console.log("shop", shop);
---

<section>
    <h2>
        UGENS UDVALGTE VARER
    </h2>
    <p>Dyk ned i denne uges ekslusive online drop</p>
<div class="shop_container" >
     {
        shop.map((vare) => {
          return <ShopCard data={vare} />;
        })
      }     </div>
   <!-- <div class="shop_container" >
      <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
    <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
    <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
    <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
          <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
    <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
    <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
    <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
    <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
    <ShopCard  imgPath="../img/produkt.png" produkt="lilla læderjakke" pris="150dkk" ></ShopCard>
    </div> --> 
    <Button variant="lys" size="lille">Se mere</Button> 
<InstaTeaser/>
</section>

<style>
   .shop_container{
  display: grid;
 
 grid-template-columns: 1fr 1fr;
   }

   

  @media (min-width: 900px) {

    .shop_container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

  }

</style>