---
const { imgPath, produkt, pris } = Astro.props;
---

<section>
  <div class="placeholder">
    <img src={imgPath} alt="tøj" />
  </div>
  <div class="beskrivelse">
    <h4>{produkt}</h4>
    <p>{pris}</p>
  </div>
</section>


<style>
    section{
         width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 2rem;


    }

h4{
     text-align: left;
}

p{
    text-align: right;
}

.beskrivelse{
border: solid var(--grey950) 2px;
padding: 0.5rem 1rem 0.5rem 1rem;
}
</style>