---
import ShopCard from "../components/ShopCard.astro";
import Button from "./Button.astro";
import InstaTeaser from "./InstaTeaser.astro";

const shop = await fetch("https://fyvvuefyxnoyynrjyhuk.supabase.co/rest/v1/shop", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5dnZ1ZWZ5eG5veXlucmp5aHVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5NTkxOTksImV4cCI6MjAzMTUzNTE5OX0.72K41vRnBsdHG8-yrn2BZLz5WLf88lxk8CPRLKEEYMk",
  },
}).then((response) => {
  return response.json();
});

console.log("shop", shop);
---

<section>
  <h2>UGENS UDVALGTE VARER</h2>
  <p>Dyk ned i denne uges ekslusive online drop</p>
  <div class="shop_container">
    {
      shop.map((vare) => {
        return <ShopCard link={"/../undersider/" + vare.id} produkt={vare.produkt} pris={vare.pris} data={vare} imgPath={"/img/" + `${vare.image}`} />;
      })
    }
  </div>

  <div class="knap"><Button variant="lys" size="lille">Se mere</Button></div>
  <InstaTeaser />
</section>

<style>
  .knap {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem 0;
  }
  h2 {
    display: grid;
    margin: 2rem 2rem 0.5rem 2rem;
  }

  p {
    display: grid;
    margin: 0 2rem 2rem 2rem;
  }
  .shop_container {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 900px) {
    h2 {
      margin-top: 4rem;
    }

    .shop_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    section {
      margin: 2rem;
    }
  }
</style>
