---
import Button from "../components/Button.astro";
const { img, tekst } = Astro.props;
---

 <div class="container">
<img src={img} alt="">

  <div class="centered">
 
    <Button variant="lys" size="stor">{tekst}</Button>
  </div>
</div> 
<style>


/* Container */
.container {
  position: relative;
  text-align: center;
padding: 1rem 2rem 1rem 2rem;
}

/* Centreret tekst */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
    color: var(--grey50);
}

</style>